.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-column {
    flex-direction: column;
}

.flex-center-x {
    justify-content: center;
}

.flex-center-y {
    align-items: center;
}